<div class="h-16 bg-purple-300 flex justify-center transition ease-linear">
  <a routerLink="/about/project" routerLinkActive="bg-purple-200"
     class="text-lg hover:bg-purple-200 transition ease-linear py-1.5 text-purple-600 rounded-xl px-2 select-none cursor-pointer my-3 mx-1">The Project</a>
  <a routerLink="/about/users" routerLinkActive="bg-purple-200"
     class="text-lg hover:bg-purple-200 py-1.5 text-purple-600 transition ease-linear rounded-xl px-2 select-none cursor-pointer  my-3 mx-1">For Users</a>
  <a routerLink="/about/developers" routerLinkActive="bg-purple-200"
     class="text-lg hover:bg-purple-200 py-1.5 text-purple-600 transition ease-linear rounded-xl px-2 select-none cursor-pointer  my-3 mx-1">For Developers</a>
</div>
