<div class="p-2 bg-white">
  <p class="text-3xl text-center my-3">Transaktion Approval</p>
  <p class="text-center mt-4 text-gray-600">Please make sure that everything is correct</p>
  <div class="border border-2 border-purple-600 rounded p-2 mt-5">
    <p class="text-xl  text-purple-600">Receiver:</p>
    <p class="text-xs text-center  text-purple-600">{{receiver}}</p>
  </div>
  <div class="border border-2 border-purple-600 rounded p-2 mt-5">
    <p class="text-xl text-purple-600">Amount:</p>
    <p class="text-center text-2xl  text-purple-600">{{amount}} Eth</p>
  </div>
  <p class="text-lg font-bold mt-12 text-center">Are you sure that you want to confirm this transaction?</p>
  <button (click)="login()"
          class="inline-block mt-6 flex bg-purple-600 mx-auto text-3xl w-fit px-3 py-2 rounded-xl text-white hover:shadow-md hover:shadow-purple-300 cursor-pointer hover:-translate-y-0.5 transition duration-75">
    Sign Transaction
  </button>
  <p class="text-lg text-center font-bold text-red-500">This cannot be undone</p>
</div>

