<p class="headline">
  For Users
</p>
<br>
<p class="paragraph">
  This page is meant to give users an overview of how the project improves their web3 shopping experiences and
  the general way how a user would interact with ElonMask.
</p>
<br>
<ul class="list-disc custom-list">
  <li> Lorem ipsum dolor sit amet,</li>
  <li> Lorem ipsum dolor sit amet,</li>
  <li> Lorem ipsum dolor sit amet,</li>
</ul>
<br>
<hr class="content-divider">
<br>

<ol class="list-decimal custom-list">
  <li> Lorem ipsum dolor sit amet,</li>
  <li> Lorem ipsum dolor sit amet,</li>
  <li> Lorem ipsum dolor sit amet,</li>
</ol>
