<div class="bg-purple-600">
  <div class="container mx-auto p-3 sm:p-5">
    <div class="grid grid-cols-2 gap-y-16">
      <div class="col-span-2">
        <p class="text-3xl sm:text-4xl text-purple-200 text-center">Another crypto wallet...</p>
        <p class="text-2xl text-white text-center">...but at your fingertips</p>
      </div>
      <div class="col-span-2 sm:col-span-1 justify-items-center">
        <svg class="h-52 w-52 stroke-purple-500 mx-auto"
             viewBox="0 0 32 32"  >
<path d="M1.36,18H0.64V4c0-0.199,0.161-0.36,0.36-0.36h9.131L7.746,1.254l0.509-0.509L11.509,4
	L8.254,7.254L7.746,6.746l2.385-2.386H1.36V18z M30.64,27.64h-8.77l2.386-2.385l-0.51-0.51L20.491,28l3.254,3.255l0.51-0.51
	l-2.386-2.385H31c0.199,0,0.36-0.161,0.36-0.36V14h-0.72V27.64z M29,3.64h-6v0.72h6V3.64z M29,5.64h-6v0.72h6V5.64z M27,7.64h-4
	v0.72h4V7.64z M9,23.64H3v0.721h6V23.64z M9,25.64H3v0.721h6V25.64z M7,27.64H3v0.721h4V27.64z M17,15c0-0.552-0.448-1-1-1
	s-1,0.448-1,1c0,0.425,0.267,0.782,0.64,0.927V17c0,0.199,0.161,0.36,0.36,0.36s0.36-0.161,0.36-0.36v-1.073
	C16.733,15.782,17,15.425,17,15z M31.36,1v10c0,0.199-0.161,0.36-0.36,0.36h-9.64V21c0,0.199-0.161,0.36-0.36,0.36h-9.64V31
	c0,0.199-0.161,0.36-0.36,0.36H1c-0.199,0-0.36-0.161-0.36-0.36V21c0-0.199,0.161-0.36,0.36-0.36h9.64V11
	c0-0.199,0.161-0.36,0.36-0.36h2.14V8.5c0-1.577,1.283-2.86,2.86-2.86s2.86,1.283,2.86,2.86v2.14h1.779V1
	c0-0.199,0.161-0.36,0.36-0.36h10C31.199,0.64,31.36,0.801,31.36,1z M13.86,10.64h4.28V8.5c0-1.18-0.96-2.14-2.14-2.14
	s-2.14,0.96-2.14,2.14C13.86,8.5,13.86,10.64,13.86,10.64z M10.64,21.36H1.36v9.279h9.28C10.64,30.639,10.64,21.36,10.64,21.36z
	 M20.64,11.36h-9.28v9.28h9.28V11.36z M30.64,1.36h-9.28v9.28h9.279L30.64,1.36L30.64,1.36z"/>
</svg>
      </div>
      <div class="col-span-2 sm:col-span-1">
        <div class="rounded-xl h-full p-4">
          <div class="text-2xl font-bold text-white  drop-shadow-lg">
            User friendly and secure
          </div>
          <div class="text-purple-200 text-xl text-justify mt-2 drop-shadow-lg">
            Take advantage of easy to use and secure online payments in the
            decentralised web. With cutting edge technologies like
            Intel SGX and FIDO2.
            <br>
              <a  routerLink="/about" class="inline-block py-2 mt-3.5 px-5 flex w-fit hover:shadow hover:shadow-sm hover:shadow-purple-700  bg-purple-50 rounded-xl hover:-translate-y-0.5 transition ease-linear">
                <span class="mr-2 text-purple-500">Learn more</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 pt-1 stroke-purple-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                </svg>
              </a>

            <hr class="my-3 border-purple-300">
          </div>
          <div class="flex justify-around ">
          <div class="flex flex-col ">
            <p class="text-white">Getting started:</p>
            <a routerLink="/docs" class="text-white p-0.5 px-2 rounded-xl hover:bg-purple-400 transition ease-linear">Read the docs</a>
            <a routerLink="/tutorial" class="text-white p-0.5 px-2 rounded-xl hover:bg-purple-400 transition ease-linear">Read the Tutorial</a>
            <a href="https://github.com" class="text-white p-0.5 px-2 rounded-xl hover:bg-purple-400 transition ease-linear">How to contribute</a>
          </div>
            <div class="flex flex-col">
            <p class="text-white">Further reading:</p>
            <a routerLink="/about/users" class="text-white p-0.5 px-2 rounded-xl hover:bg-purple-400 transition ease-linear">For users</a>
            <a routerLink="/about/developers" class="text-white p-0.5 px-2 rounded-xl hover:bg-purple-400 transition ease-linear">For developer</a>
          </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
