<p class="headline">
  For Developers
</p>
<br>
<p class="paragraph">
  This page is meant to describe the project from a developers perspective. This includes the general context
  of this project in every day Web3 payment scenarios, including the benefits for businesses.
</p>
<br>
<ul class="list-disc custom-list">
  <li> Lorem ipsum dolor sit amet,</li>
  <li> Lorem ipsum dolor sit amet,</li>
  <li> Lorem ipsum dolor sit amet,</li>
</ul>
<br>
<hr class="content-divider">
<br>

<ol class="list-decimal custom-list">
  <li> Lorem ipsum dolor sit amet,</li>
  <li> Lorem ipsum dolor sit amet,</li>
  <li> Lorem ipsum dolor sit amet,</li>
</ol>
