<div class="container bg-white rounded-md p-5 flex">
  <div>
    <p class="font-bold">Make transaction</p>
    <hr>
    <p>Receiver Address</p>
    <input type="text" [(ngModel)]="receiver" class="focus:outline-purple-600 p-2 border rounded-md w-96">
    <p>Amount</p>
    <input [(ngModel)]="amount" class="focus:outline-purple-600 p-2 border rounded-md w-96">
    <div class="p-3 bg-purple-600 rounded-md w-fit text-white cursor-pointer" (click)="makePayment()">Send</div>
  </div>
  <div class="flex flex-wrap ">
    <div *ngFor="let contact of contacts" class="p-2 cursor-pointer m-3 overflow-clip rounded-lg h-20 hover:bg-purple-200" (click)="selectContact(contact.publicKey)">
      <p class="font-bold">{{contact.name}}</p>
      <p class="text-xs text-gray-500">{{contact.publicKey}}</p>
    </div>
  </div>
</div>
