<div class="banner w-full">
  <div class="h-56"></div>
  <div class="container mx-auto p-3 sm:p-5">
    <div class="grid grid-cols-2 gap-y-16">
      <div class="col-span-1 col-end-3 ">
        <p class="text-3xl sm:text-4xl text-purple-200 text-center">Another crypto wallet...</p>
        <p class="text-2xl text-white text-center">...but at your fingertips</p>
      </div>

      <div class="col-span-1">
        <div class="rounded-xl h-full p-4">
          <div class="text-2xl font-bold text-white  drop-shadow-lg">
            User friendly and secure
          </div>
          <div class="text-purple-200 text-xl text-justify mt-2 drop-shadow-lg">
            Take advantage of easy to use and secure online payments in the
            decentralised web. With cutting edge technologies like
            Intel SGX and FIDO2.
            <br>
            <a  routerLink="/about" class="inline-block py-2 mt-3.5 px-5 flex w-fit hover:shadow hover:shadow-sm hover:shadow-purple-700  bg-purple-50 rounded-xl hover:-translate-y-0.5 transition ease-linear">
              <span class="mr-2 text-purple-500">Learn more</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 pt-1 stroke-purple-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
              </svg>
            </a>

            <hr class="my-3 border-purple-300">
          </div>
          <div class="flex justify-around ">
            <div class="flex flex-col ">
              <p class="text-white">Getting started:</p>
              <a routerLink="/docs" class="text-white p-0.5 px-2 rounded-xl hover:bg-purple-400 transition ease-linear">Read the docs</a>
              <a routerLink="/tutorial" class="text-white p-0.5 px-2 rounded-xl hover:bg-purple-400 transition ease-linear">Read the Tutorial</a>
              <a href="https://github.com" class="text-white p-0.5 px-2 rounded-xl hover:bg-purple-400 transition ease-linear">How to contribute</a>
            </div>
            <div class="flex flex-col">
              <p class="text-white">Further reading:</p>
              <a routerLink="/about/users" class="text-white p-0.5 px-2 rounded-xl hover:bg-purple-400 transition ease-linear">For users</a>
              <a routerLink="/about/developers" class="text-white p-0.5 px-2 rounded-xl hover:bg-purple-400 transition ease-linear">For developer</a>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
